
.previousRounds {
    background: linear-gradient(180deg, #0099ff,#2bcaff);
    padding:  50px;
}

.info {
margin: 0;
padding:0;
background: linear-gradient(0deg, #0099ff,#2bcaff);
}

@media screen and (max-width: 850px) {
    .previousRounds {
        padding: 10px;
    }
}
.yourTickets {
    padding: 50px;
}
@media screen and (max-width: 850px) {
    .yourTickets {
        padding: 10px;
    }
}
.buyTicketsButton {
    background-color: #0099ff;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
    font-family: inherit;
    border-radius: 5px;
    font-weight: bold;
}
.landing {
    max-width: 600px;
    width: 80%;
    margin: 50px auto;
    line-height: normal;
}
.lotteryName {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}
@media screen and (max-width: 500px) {
    .lotteryName {
        font-size: 3.5em;
    }
}
@media screen and (max-width: 450px) {
    .lotteryName {
        font-size: 3em;
    }
}
.desc {
    font-size: 1.1em;
    margin-bottom: 25px;
}
.blue {
    color: rgb(24, 151, 255);
    text-shadow: 0.05em 0.05em 0px rgb(152, 209, 255);
    
}
.centered {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 43.333px;
    line-height: 0;
}
